@model FileSharing.Models.UploadsVM

<h1>Upload File</h1>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly"></div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="from-group">
                <label asp-for="File" class="form-label"></label>
                <input  asp-for="File" type="file" class="form-control">
                 <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>